image: rancher/golang:1.14-windowsservercore
manifests:
  -
    image: rancher/golang:1.14-windowsservercore-1809
    platform:
      architecture: amd64
      os: windows
      version: 1809
  -
    image: rancher/golang:1.14-windowsservercore-1903
    platform:
      architecture: amd64
      os: windows
      version: 1903
  -
    image: rancher/golang:1.14-windowsservercore-1909
    platform:
      architecture: amd64
      os: windows
      version: 1909
  -
    image: rancher/golang:1.14-windowsservercore-2004
    platform:
      architecture: amd64
      os: windows
      version: 2004